.hidden {
    display: none;
}
.show {
    display: flex !important;
    animation: fade-in-from-top .25s linear forwards;
}
.fs-locked {
    cursor: default;
    color: #777 !important;
}
.fs-locked:active {
    color: rgb(200, 40, 40) !important;
}