@font-face {
    font-family: 'LinLibertine';
    src: url(assets/styles/fonts/LinLibertine/LinLibertine_aS.ttf);
}
@font-face {
    font-family: 'HoeflerText';
    src: url(assets/styles/fonts/HoeflerText/ufonts.com_hoefler-text.ttf);
}