:root {
    --navbar-height: 50px;

    --theme:                   "light";
    --clr-primary:             #222;
    --clr-secondary:           #fff;
    --clr-links:               rgb(51, 102, 204);
    --clr-links-active:        rgb(102, 51, 204);
    --clr-links-hover:         rgb(33, 33, 43);

    --clr-mode-btn-primary:    #eee;
    --clr-mode-btn-secondary:  #777;
    --clr-mode-btn-tertiary:   #333;

    --clr-code-example-bg:     #f8f8f8;
    --clr-code-example-text:   #3D7B7B;
    --clr-code-example-border: #eaecf0;

    --clr-hr:                  #a1a1a1;
}