@font-face {
    font-family: 'LinLibertine';
    src: url(/assets/styles/fonts/LinLibertine/LinLibertine_DR.ttf);
}
:root {
    --navbar-height: 50px;

    --clr-primary: #222;
    --clr-secondary: #fff;
    --clr-links: rgb(51, 102, 204);
    --clr-links-active: rgb(102, 51, 204);

    --theme: "light";
    --clr-mode-btn-primary: #eee;
    --clr-mode-btn-secondary: #777;
    --clr-mode-btn-tertiary: #333;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: var(--clr-secondary);
}
h1,
h3,
p {
    color: var(--clr-primary);
}
/* navbar */
.mainNav {
    height: var(--navbar-height);
    padding: 0 10px;
    /* box-shadow: 0 0 10px #000; */
}
#globe {
    width: 50px;
    height: 50px;
    background-image: url(/assets/styles/images/globe.png);
    background-size: contain;
}
#logo {
    text-decoration: none;
    color: var(--clr-primary);
}
#logo p {
    font-family: 'LinLibertine';
}
#logo p:nth-child(1) {
    font-size: 1.6em;
}
#logo p:nth-child(2) {
    font-size: .8em;
}
#navMenu {
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 99;
}
#navMenu input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
#navMenu span {
    position: absolute;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    background: var(--clr-primary);
    transition: .25s;
    z-index: 1;
}
#navMenu input:checked ~ span:nth-child(2) {
    width: 0;
}
#navMenu span:nth-child(3) {
    transform: translateY(7px);
}
#navMenu span:nth-child(4) {
    transform: translateY(-7px);
}
#navMenu input:checked ~ span:nth-child(3) {
    transform: rotate(45deg);
}
#navMenu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg);
}
#mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    transform: translateX(-100%);
    transition: .25s;
}
#navMenu input:checked ~ #mobileMenu {
    transform: translateX(0%);
}
#mobileNav {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-top: var(--navbar-height);
    gap: 1rem;
    backdrop-filter: blur(24px);
    box-shadow: inset 0 0 10px var(--clr-primary);
}
#mobileNav h3 {
    font-size: 1rem;
}
#mobileNav a {
    display: flex;
}
#mobileNav hr {
    margin: 0;
}
#mobileNav a,
#mobileNav a p,
#laptopNav a,
#laptopNav a p,
.dropdown-btn p {
    position: relative;
    width: auto;
    height: auto;
    font-size: 1rem;
    text-decoration: none;
    color: var(--clr-links);
    user-select: none;
}
#mobileNav a p::before,
#laptopNav a p::before,
#laptopNav button::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    right: 0;
    background: var(--clr-links);
    transition: .25s;
}
#mobileNav a p:hover::before,
#laptopNav a p:hover::before,
#laptopNav button:hover::before {
    width: 100%;
    left: 0;
}
#laptopNav {
    gap: 60px;
}
#laptopNav a {
    white-space: nowrap;
}
.dropdown {
    position: relative;
}
.dropdown-btn {
    background: none;
    border: none;
}
.dropdown-content {
    position: absolute;
    margin-top: 2px;
    width: 100%;
    display: none;
    background: var(--clr-secondary);
}
.dropdown-content a {
    display: block;
    padding-top: 5px;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
}
.link-active::before,
.link-active p::before  {
    width: 100% !important;
    background: var(--clr-links-active) !important;
}
.link-active p {
    color: var(--clr-links-active) !important;
}

/* dark / light mode */
#changeMode {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 24px;
    padding: 0 1px;
    margin-right: 5px;
}
#changeModeBox {
    position: absolute;
    width: 40px;
    height: 24px;
    border: 3px solid var(--clr-mode-btn-secondary);
    border-radius: 12px;
    background-color: var(--clr-mode-btn-primary);
    background-image: url(/assets/styles/images/modes-ico.png);
    background-size: contain;
}
#changeMode input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}
#changeMode span {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: var(--clr-mode-btn-tertiary);
    /* transition: .25s; */
}
/* #changeMode input:checked ~ span {
    transform: translateX(50%);
} */


/* general */
h1 {
    font-family: 'LinLibertine';
}




/* layout */
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.centered {
    justify-content: center;
    align-items: center;
}
.gap-1 {
    gap: 1rem;
}
.mb-3 {
    margin-bottom: .5rem;
}

/* container */
.container {
    width: 100%;
    padding: 20px;
}

/* media */
@media screen and (max-width: 375px) {
    .container {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .875rem;
    }
    hr {
        width: 50%;
        margin: 10px 0;
    }
}
@media screen and (min-width: 450px) {
    /* .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    hr {
        width: 50%;
        margin: 10px 0;
    }
}
@media screen and (min-width: 720px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 40px;
    }
    #navMenu {
        display: none;
        opacity: 0;
        pointer-events: none;
    }
}
@media screen and (max-width: 721px) {
    #laptopNav {
        display: none;
        opacity: 0;
        pointer-events: none;
    }
}